body {
    font-family: 'Montserrat', sans-serif;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-link {
    position: relative;
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

#about {
    color: white;
}

#howdy {
    color: rgb(218, 52, 52);
}

.dropdown-menu {
    background-color: black;
  }
  
  .dropdown-item {
    color: white;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  #header {
     background-color: black;
     color: white;
  }


  .slidershow{
    width: 700px;
    height: 500px;
    overflow: hidden;
  }

  .navigation{
    position: absolute;
    /* bottom: 20px; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
    height: 70%;
  }
  .slide img{
    width: 100%;
    height: 100%;
    border-radius:20px;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
  
blockquote{
  color: white;
}

h5 {
  color: white;
  font-weight: 500;
}